.container-thank{
    width: 268px;
height: 255px;
flex-shrink: 0;
border-radius: 44px;
border: 7px solid #0B735A;
background: #FFF;
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.thank {
    color: #0B735A;
text-align: center;
font-family: Roboto;
font-size: 50px;
font-style: normal;
font-weight: 500;
line-height: normal;
  }
  .you{
    color: #47CE55;
    text-align: center;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .logo-thank {
    width: 112.751px;
    height: 106.25px;
  }